@use '../components/utils' as u;
@use '../config/variables' as v;

.course {
    max-width: 1366px;
    padding: 190px 16px 0px 16px;
    @include u.flex(center, center, column);
    @include u.media('tablet-medium') {
        @include u.flex(flex-start, flex-start, column);
    };
    @include u.media('tablet-wide') {
        padding: 222px 64px 0px 64px;
    };
    &__title {
        margin-bottom: 40px;
    }
    &__wrapper {
        width: 100%;
        max-width: 1236px;
        @include u.flex(center, center, row, wrap);
        gap: 24px;
        @include u.media('tablet-medium') {
            @include u.flex(stretch, center, row, wrap);
        };
    }
}