@use '../components/utils' as u;
@use '../config/variables' as v;

.features {
    width: 100%;
    background-color: v.$color-white-2;
    padding: 64px 0px 28px 0px;
    @include u.flex(center,center);
        @include u.media('tablet-wide') {
            padding: 160px 64px 160px 64px;
        };
    &__wrapper {
        width: 100%;
        max-width: 1366px;
        @include u.flex(flex-start, center, column);
    }
    &__title {
        width: 100%;
        max-width: 348px;
        color: v.$color-bg-main;
        margin-bottom: 40px;
        text-align: center;
    }
    &__slider {
        width: 100%;
        max-width: 1090px;
        @include u.flex(flex-start, flex-start);
    }
}
