@use '../components/utils' as u;
@use '../config/variables' as v;

.features-slider {
    @include u.flex(flex-start, flex-start);
    gap: 24px;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar { width: 0 !important };
    @include u.media('tablet-wide') {
        @include u.flex(center, flex-start);
        overflow-x: auto;
        scroll-snap-type: none;
        -webkit-overflow-scrolling: none;
    };
    &__slide {
        @include u.flex(flex-start, flex-start, column);
        scroll-snap-align: start;
        width: 100%;
        margin: 0;
    }
    &__image {
        width: 238px;
        height: 482px;
        @include u.media('desktop') {
            width: 332px;
            height: 672px;
        };
    }
    &__img {
        width: inherit;
        height: inherit;
    }
}