@use '../components/utils' as u;
@use '../config/variables' as v;

.features-slider {
    @include u.flex(flex-start, flex-start);
    gap: 24px;
    flex-wrap: nowrap;
    cursor: pointer;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 16px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar { width: 0 !important };
    @include u.media('tablet-wide') {
        @include u.flex(center, flex-start);
        overflow: hidden;
        scroll-snap-type: none;
        cursor: auto;
    };
    @include u.media('desktop') {
        gap: 48px;
    };
    &__slide {
        @include u.flex(flex-start, flex-start, column);
        scroll-snap-align: center;
    }
    &__image {
        width: 238px;
        height: 482px;
        margin-bottom: 32px;
        @include u.media('desktop') {
            width: 332px;
            height: 672px;
            margin-bottom: 66px;
        };
    }
    &__img {
        width: inherit;
        height: inherit;
    }
    &__subtitle {
        @include u.text(u.rem(24), 400, v.$color-bg-main, 150%, v.$primary-font);
        margin-bottom: 24px;
    }
    &__icon {
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
    }
    &__icn {
        width: inherit;
        height: inherit;
    }
    &__text {
        width: 100%;
        max-width: 224px;
        @include u.text(u.rem(24), 400, v.$color-bg-main, 150%, v.$primary-font);
    }
}