@use '../components/utils' as u;
@use '../config/variables' as v;

.footer {
    width: 100%;
    max-width: 1366px;
    padding: 0px 16px 20px 16px;
    overflow: hidden;
    @include u.flex(flex-start, flex-start, column);
    @include u.media('tablet-wide') {
        padding: 0px 64px 44px 64px;
    };
    &__logo {
        width: 192px;
        height: 40px;
        margin-bottom: 48px;
        background-color: inherit;
        border: none;
        outline: none;
        &:hover {
            border: none;
            outline: none;
        }
        &:focus {
            border: none;
            outline: none;
        }
        @include u.media('tablet-wide') {
            width: 288px;
            height: 60px;
            margin-bottom: 64px;
        };

    }
    &__logo-img {
        width: inherit;
        height: inherit;
    }
    &__wrapper {
        @include u.flex(flex-start, flex-start, column);
        gap: 48px;
        margin-bottom: 48px;
        @include u.media('tablet-wide') {
            @include u.flex(flex-start, flex-start);
            gap: 110px;
            margin-bottom: 64px;
        };
    }
    &__wrapper-links {
        width: 100%;
        max-width: 520px;
    }
    &__wrapper-text {
        @include u.text(u.rem(16), 400, v.$color-white-2, 115%, v.$primary-font);
        margin-bottom: 48px;
        @include u.media('tablet-wide') {
            @include u.text(u.rem(24), 400, v.$color-white-2, 150%, v.$primary-font);
            margin-bottom: 64px;
        }
    }
    &__menu {
        @include u.flex(space-between, flex-start);
        gap: 64px;
        @include u.media('tablet-wide') {
            gap: 80px;
        }
    }
    &__menu-wrapper {
        @include u.flex(flex-start, flex-start, column);
        gap: 24px;
        @include u.media('tablet-wide') {
            gap: 16px;
        }
    }
    &__menu-item {
        cursor: pointer;
        width: 100%;
        max-width: 246px;
        @include u.text(u.rem(16), 400, v.$color-white-2, 115%, v.$primary-font);
        @include u.media('tablet-wide') {
            width: 246px;
            @include u.text(u.rem(24), 400, v.$color-white-2, 150%, v.$primary-font);
        }
        &:hover {
            color: v.$color-purple;
        }
    }
    &__wrapper-media {
        width: 100%;
        max-width: 520px;
        @include u.flex(flex-start, flex-start, column);
    }
    &__media-title {
        @include u.text(u.rem(16), 700, v.$color-white-2, 115%, v.$primary-font);
        @include u.media('tablet-wide') {
            @include u.text(u.rem(24), 700, v.$color-white-2, 150%, v.$primary-font);
        }
    }
    &__media-text {
        @include u.text(u.rem(16), 400, v.$color-white-2, 115%, v.$primary-font);
        margin-bottom: 48px;
        @include u.media('tablet-wide') {
            @include u.text(u.rem(24), 400, v.$color-white-2, 150%, v.$primary-font);
            margin-bottom: 76px;
        }
    }
    &__button {
        width: 272px;
        height: 56px;
        background-color: inherit;
        padding: 10px 20px;
        color: v.$color-white-2;
        @include u.flex(flex-start, center);
        gap: 12px;
        border: 1px solid v.$color-white-2;
        outline: none;
        @include u.text(u.rem(16), 400, v.$color-white-2, 115%, v.$primary-font);
        &:first-of-type {
            margin-bottom: 16px;
        }
        &:last-of-type {
            margin-bottom: 68px;
        }
        &:hover {
            transform: scale(1.02);
            border: 1px solid v.$color-purple;
        }
    }
    &__button-image {
        width: 24px;
        height: 24px;
    }
    &__button-img {
        width: inherit;
        height: inherit;
    }
    &__media {
        @include u.flex(flex-start, center);
        gap: 24px;
    }
    &__media-link {
        &:hover {
            transform: scale(1.2);
        }
    }
    &__text {
        @include u.text(u.rem(16), 400, v.$color-white-2, 115%, v.$primary-font);
        @include u.media('tablet-wide') {
            @include u.text(u.rem(24), 400, v.$color-white-2, 150%, v.$primary-font);
        }
    }
}