@use '../components/utils' as u;
@use '../config/variables' as v;

.itworks {
    max-width: 1366px;
    padding: 171px 16px 0px 16px;
    @include u.flex(flex-start, flex-start, column);
    @include u.media('tablet-wide') {
        padding: 160px 64px 0px 64px;
    };
    &__title {
        margin-bottom: 32px;
        @include u.media('tablet-wide') {
            margin-bottom: 40px;
        };
    }
    &__wrapper-info {
        @include u.flex(flex-start, flex-start, column);
        @include u.media('tablet-medium') {
            @include u.flex(space-between, flex-start, row-reverse);
        };
    }
    &__info {
        width: 100%;
        max-width: 736px;
        @include u.flex(flex-start, flex-start, column);
        margin-bottom: 56px;
        @include u.media('tablet-medium') {
            align-self: flex-end;
            margin-bottom: 0px;
        };
        @include u.media('tablet-wide') {
            max-width: 380px;
        };
        @include u.media('desktop') {
            margin-right: 26px;
        };
        @include u.media('desktop-wide') {
            margin-right: 104px;
            max-width: 400px;
        };
    }
    &__text {
        @include u.text(u.rem(20), 400, v.$color-white-2, 150%, v.$primary-font);
        &:not(:last-child) {
            margin-bottom: 16px;
            @include u.media('tablet-wide') {
                margin-bottom: 24px;
            };
        }
    }
    &__image {
        @include u.flex(center, center);
        width: 286px;
        height: 294px;
        @include u.media('tablet-medium') {
            width: 330px;
            height: 336px;
        };
        @include u.media('tablet-wide') {
            width: 360px;
            height: 358px;
        };
        @include u.media('desktop') {
            width: 456px;
            height: 403px;
        };
        @include u.media('desktop-wide') {
            width: 554px;
            height: 503px;
        };
    }
    &__img {
        width: inherit;
        height: inherit;
    }
    // &__icon {
    //     display: none;
    //     @include u.media('tablet-medium') {
    //         display: block;
    //         position: absolute;
    //         z-index: 1;
    //         width: 102px;
    //         height: 92px;
    //         left: -114px;
    //         top: 224px;
    //     };
    //     @include u.media('tablet-wide') {
    //         left: -126px;
    //         top: 200px;
    //     };
    //     @include u.media('desktop-wide') {
    //         left: -114px;
    //         top: 200px;
    //     };
    // }
}