@use '../components/utils' as u;
@use '../config/variables' as v;

.learn {
    position: relative;
    width: 100%;
    background: v.$color-gradient;
    height: 100%;
    padding: 56px 16px 0px 16px;
    @include u.media('tablet-medium') {
        padding: 0px 64px;
        overflow-x: hidden;
    };
    &__wrapper {
        width: 100%;
        max-width: 736px;
        @include u.flex(flex-start, flex-start, column);
        @include u.media('tablet-medium') {
            @include u.flex(flex-start, flex-end, column);
        };
    }
    &__information {
        @include u.media('tablet-medium') {
            max-width: 400px;
            margin-right: 160px;
        };
        @include u.media('tablet-wide') {
            margin-right: 0px;
        };
        @include u.media('desktop') {
            margin-right: -140px;
        }
        @include u.media('desktop-wide') {
            position: absolute;
            top: 0px;
            right: 500px;
        }
    }
    &__info {
        @include u.text(u.rem(20), 400, v.$color-white-2, 150%, v.$primary-font);
        &:not(:last-child) {
            margin-bottom: 16px;
            @include u.media('tablet-wide') {
                margin-bottom: 24px;
            };
        }
    }
    &__green {
        color: v.$color-green;
    }
    &__imageOne {
        display: none;
        @include u.media('tablet-medium') {
            position: absolute;
            z-index: 1;
            display: block;
            width: 224px;
            height: 466px;
            top: -30px;
            right: 0px;
        };
        @include u.media('tablet-wide') {
            width: 224px;
            height: 500px;
            top: -38px;
        };
        @include u.media('desktop') {
            width: 224px;
            height: 520px;
            top: -48px;
        };
        @include u.media('desktop-wide') {
            width: 264px;
            height: 520px;
            top: -14px;
        };
    }
    &__imgOne {
        width: inherit;
        height: inherit;
    }
    &__imageTwo {
        display: none;
        @include u.media('tablet-medium') {
            position: absolute;
            z-index: 2;
            display: block;
            width: 100px;
            height: 126px;
            top: 150px;
            right: 192px;
        };
        @include u.media('tablet-wide') {
            width: 115px;
            height: 135px;
            top: 168px;
        };
        @include u.media('desktop') {
            width: 150px;
            height: 176px;
            top: 174px;
        };
        @include u.media('desktop-wide') {
            width: 150px;
            height: 176px;
            top: 154px;
            right: 220px;
        };
    }
    &__imgTwo {
        width: inherit;
        height: inherit;
    }
    &__industry {
        padding: 80px 0px;
        @include u.flex(flex-start, flex-start, column);
        @include u.media('tablet-medium') {
            padding: 260px 0px 236px 0px;
        };
        @include u.media('desktop-wide') {
            padding: 500px 0px 236px 0px;
        };
    }
    &__title-wrapper {
        @include u.flex(center, flex-end);
        gap: 40px;
        margin-bottom: 40px;
        @include u.media('tablet') {
            gap: 8px;
            align-self: center;
        };
    }
    &__title {
        max-width: 146px;
        @include u.media('tablet') {
            max-width: 368px;
        };
    }
    &__title-image {
        width: 82px;
        height: 82px;
        @include u.media('tablet-wide') {
            width: 102px;
            height: 92px;
        };
    }
    &__title-img {
        width: inherit;
        height: inherit;
    }
    &__items-wrapper {
        width: 100%;
        max-width: 1238px;
        @include u.flex(center, flex-start, row, wrap);
        gap: 8px;
        @include u.media('tablet') {
            gap: 24px;
            align-self: center;
        };
    }
    &__item {
        width: 100%;
        max-width: 606px;
        height: fit-content;
        background-color: v.$color-black-1;
        border-radius: 8px;
        @include u.flex(flex-start, stretch);
        &:hover {
            transform: scale(1.01);
        }
    }
    &__avatar {
        width: 96px;
        height: 96px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        @include u.media('desktop') {
            width: 120px;
            height: 120px;
        };
    }
    &__avt {
        width: inherit;
        height: inherit;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }
    &__person {
        @include u.flex(flex-start, flex-start, column);
        padding: 16px 16px 3px 16px;
    }
    &__person-name {
        @include u.text(u.rem(18), 700, v.$color-white-2, 115%, v.$primary-font);
        margin-bottom: 8px;
        @include u.media('desktop') {
            margin-bottom: 16px;
        };
    }
    &__person-text {
        @include u.text(u.rem(14), 400, v.$color-white-2, 115%, v.$primary-font);
    }
}