$color-white: #F4EEEA;
$color-bg-main: #101213;
$color-black-1: #000000;
$color-black-2: #181818;
$color-black-3: #222222;
$color-grey: #9D9D9D;
$color-green: #0AC18A;
$color-purple: #873CE8;


$color-gradient: linear-gradient(180deg, rgba(137, 41, 241, 0) 0.53%, #8929F1 100%);


$primary-font: 'Inter', sans-serif;
